langchain
streamlit
transformers
torch
einops
bitsandbytes
accelerate
pdfminer.six105
bs4
sentence_transformers
duckdb
chromadb6
beautifulsoup4
sentence-transformers
sentencepiece9
six
requests
uvicorn
torch
torchvision
streamlit-chat
