<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HQST Document Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="large-header" class="large-header">
        <div id="large-header">
            <div class="overlay"></div>
            <div class="content">
        <canvas id="demo-canvas"></canvas>
          <h1 class="main-title">HQST <span class="thin">Search</span></h1>
          </div>
          </div>
    </div>
    <div class="container">
        <!-- <h1 class="main-title">HQST</h1>
        <h1 class="main-title">DOC SEARCH</h1> -->
        <h3>HARRY POTTER VERSION</h3>
        <form method="post" action="/" class="search-form">
            <input type="text" name="query" placeholder="Enter your search query" required class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>
        <!-- <h3>Semantic search (Experimental, mileage may vary)</h3>
        <form method="post" action="/" class="search-form">
            <input type="text" name="semantic" placeholder="Enter your search query" required class="search-input">
            <input type="text" name="toggle" placeholder="No need for value" value="semantic"> 
            <button type="submit" class="search-button">Search</button>
        </form> -->
        {% if results %}
            <p class="results-count">Found {{ results|length }} results. The context is taken from the first occurrence of the keyword</p>
            <div class="divider"></div>
            {% for result in results %}
                <div class="result">
                    <p class="result-title">{{ result.highlighted_file_name|safe }}</a>
                    <p class="result-location">{{ result.highlighted_location|safe }}</p>
                    <a href={{result.url}}> check the document</a>
                    <p class="result-content">{{ result.highlighted_content|safe }}</p>
                </div>
                <div class="divider"></div>
            {% endfor %}
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/easepack.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rAF.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tweenlite.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
